<h2>Hello. I'm Stephen</h2>
<p>
	<img src="http://www.gravatar.com/avatar/54f31a2665ea7f6793671075ba04a375.png" alt="Stephen Wilson" title="Follow me on Twitter @stephenwil"
	class="img-rounded floatLeft" />			
Web Developer.	
</p>					
<p>
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=stephenwil&repo=stephenwil.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=stephenwil&amp;repo=stephenwil.github.com&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
</p>
<p><a href="https://twitter.com/stephenwil" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @stephenwil</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/stephenwil" rel="me" class="social github" title="Go to github.com/stephenwil" target="_blank"></a></li>
	  <li><a href="http://uk.linkedin.com/pub/stephen-wilson/5/285/7a5/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/stephenwil" rel="me" class="social twitter" title="Go to twitter.com/stephenwil" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/105933520184042532488/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <!-- <li><a href="https://github.com/stephenwil/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Stephen"  target="_blank"></a></li>	 -->			
	</ul>
</p>