<p>
	<img src="http://www.gravatar.com/avatar/54f31a2665ea7f6793671075ba04a375.png" alt="Stephen Wilson" title="Follow me on Twitter @stephenwil"
	class="img-rounded floatLeft" />
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=stephenwil&repo=stephenwil.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=stephenwil&amp;repo=stephenwil.github.com&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
<a href="https://twitter.com/stephenwil" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @stephenwil</a>

 {% include sw-html/social-buttons.html %}            
</p>