<header class="clearfix">


      <div class="image-wrapper header-image">
          <% if /{{ page.image }} %>
          <div class="image" style="background-image: url(/assets/img/header/{{ page.image }});">
          <% else %>
          <div class="image" style="background-image: url(/assets/img/header/sunset-forth.jpg);">
          <% end if %>

     <nav>
          <ul>

            <li>
              <a href="/"><i class="icon-home icon-large"></i></a>
            </li>

            <!-- <li>
                <a href="/webdev/index.html">Web Development</a>
            </li>

             <li>
                <a href="/diy/index.html">DIY</a>
            </li> -->


              <li class="li-st-none">
                    <a href="/about.html">About</a>
              </li>
          </ul>
      </nav>





            <h1 class="txt-p1 header-h1">Stephen Wilson</h1>
          <!--   <h2 class="txt-p1 header-h2">Software with a Scottish Slant</h2> -->

            <ul class="buttons unstyled">
    <li><a href="http://github.com/stephenwil" rel="me" class="social github" title="Go to github.com/stephenwil" target="_blank"></a></li>
    <li><a href="http://uk.linkedin.com/pub/stephen-wilson/5/285/7a5/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
    <li><a href="http://www.twitter.com/stephenwil" rel="me" class="social twitter" title="Go to twitter.com/stephenwil" target="_blank"></a></li>
    <li><a href="https://plus.google.com/105933520184042532488/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
    <!-- <li><a href="https://github.com/stephenwil/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Stephen"  target="_blank"></a></li>  -->      
  </ul>
          </div>

      </div>
  </header>