<header class="clearfix">


      <div class="image-wrapper header-image">
          {% if page.image  %}
          <div class="image" style="background-image: url(/assets/img/header/{{ page.image }});">
          {% else %}
          <div class="image" style="background-image: url(/assets/img/header/sunset-forth.jpg);">
          {% endif %}

     <nav>
          <ul>

            <li>
              <a href="/"><i class="icon-home icon-large"></i></a>
            </li>

            <!-- <li>
                <a href="/webdev/index.html">Web Development</a>
            </li>

             <li>
                <a href="/diy/index.html">DIY</a>
            </li> -->


              <li class="li-st-none">
                    <a href="/about.html">About</a>
              </li>
          </ul>
      </nav>





            <h1 class="txt-p1 header-h1">Stephen Wilson</h1>
          <!--   <h2 class="txt-p1 header-h2">Software with a Scottish Slant</h2> -->

          <ul class="buttons unstyled">
           <li class="social-icon"><a href="http://www.twitter.com/stephenwil" rel="me" class="" title="Go to twitter.com/stephenwil" target="_blank"><i class="icon-twitter-sign icon-3x txt-p1"></i></a></li>

           <li class="social-icon"><a href="http://github.com/stephenwil" rel="me" class="" title="Go to github.com/stephenwil" target="_blank"><i class="icon-github-sign icon-3x txt-p1"></i></a></li>

           <li class="social-icon"><a href="http://www.linkedin.com/profile/view?id=15603245" rel="me" class="" title="Go to LinkedIn profile" target="_blank"><i class="icon-linkedin-sign icon-3x txt-p1"></i></a></li>

            <li class="social-icon"><a href="https://plus.google.com/105933520184042532488/posts" rel="me" class="" title="Go to Google Plus profile" target="_blank"><i class="icon-google-plus-sign icon-3x txt-p1"></i></a></li> 
    
          </ul>
          </div>

      </div>
  </header>