 <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="/">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}

            {% for node in pages_list %}
             
                {% if node.title != null %}
                  {% if group == null or group == node.group %}
                    {% if page.url == node.url %}
                    <li class="active">
                      <a href="{{ BASE_PATH }}{{node.url}}" class="active">
                        {% if node.icon == null %}{{node.title}}
                        {% else %}<i class="icon-{{node.icon}}"></i>{{node.title}}
                        {% endif %}
                      </a></li>
                    {% else %}
                    <li><a href="{{ BASE_PATH }}{{node.url}}">
                       {% if node.icon == null %}{{node.title}}
                       {% else %}<i class="icon-{{node.icon}}"></i>{{node.title}}
                       {% endif %}
                    </a></li>
                    {% endif %}
                  {% endif %}
                {% endif %}
            {% endfor %} 


            {% assign pages_list = nil %}
            {% assign group = nil %}


          </ul>
        </div>
      </div>
    </div>

